.disclaimer {
  padding: 10px;
  background: $disclaimer_background;
  color: $disclaimer_color;
  line-height: 2.5em;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  margin: 0 auto;
}
.disclaimer-link {
  color: $disclaimer_background;
  text-decoration: none;
  background: $disclaimer_color;
  padding: 10px;
  border-radius: 5px;
  margin-left: .5em;
  &:hover {
    color: $disclaimer_color - 100;
    background: $disclaimer_background - 100;
  }
}
.status-message ul {
  position: fixed;
  bottom: 1em;
  right: 1em;
  li {
    display: none;
    text-align: center;
    list-style: none;
    margin-top: .8em;
    width: 10em;
    font-weigh: bold;
    background: $disclaimer_background;
    color: $disclaimer_color;
    padding: .5em;
    border: 1px solid $disclaimer_background - 100;
  }
}