.alert-danger {
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: $errors_background;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  li {
    border-radius: 10px;
    margin: 10px;
    display: block;
    font-size: 1.5rem;
    padding: 10px 30px;
    text-align: left;
    text-decoration: none;
    color: $error_color;
    background-color: $error_background;
    &:hover {
      background-color: $error_color;
      color: $error_background;
    }
  }
}
