.header {
  background: $header_background;
  color: $header_title;
  font-size: 2em;
  height: 150px;
  line-height: 75px;
  overflow: hidden;
  text-align: center;
}
.header-link {
  color: $header_title;
  text-decoration: none;
}