.navigation {
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: $nav_background;
  text-align: right;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  li {
    display: inline-block;
  }
  a {
    background-color: $nav_link_background;
    color: $nav_link;
    display: block;
    font-size: 1.5rem;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: $nav_link;
      color: $nav_link_background;
    }
  }
}
.navigation-user {
  background-color: $nav_link_background;
  li a {
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    background-color: $nav_background;
  }
  &:hover {
    background-color: $nav_link_background;
    color: $nav_link;
  }
}
a.menu-button {
  display: none;
}
@media screen and (max-width: 750px) {
  .navigation {
    height: 51px;
    overflow: hidden;
  }

  .navigation li {
    width: 100%;
    margin-bottom: 1px;
    margin-left: 0;
  }

  .navigation a {
    margin-left: 0;
    margin-bottom: 1px;
  }

  .navigation-user {
    height: 41px;
  }

  .navigation-user li a {
    margin-left: 0;
    margin-bottom: 1px;
  }

  a.menu-button {
    display: block;
  }
}
.navigation-hover {
  height: auto;
  overflow: auto;
}