.place {
  padding: 1em;
  background-color: $place_background;
}
.places {
  text-align: center;
  background-color: $places_background;
}
.place-card {
  color: $place_card_color;
  margin: 1em 5em 3em 5em;
  width: 30em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  h2 {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .place-card {
    width: 25em;
    margin: 1em 1em 1em 1em;
  }
}
@media screen and (max-width: 890px) {
  .place-card {
    width: 35em;
  }
}
@media screen and (max-width: 600px) {
  .place-card {
    width: 15em;
  }
}
.place-title, .place-title-card {
  background-color: $place_title_background;
  border-radius: .8em .8em 0 0;
  color: $place_title_color;
  padding: .3em;
  position: relative;
}
.place-title-link, .place-title-link-card {
  color: $place_title_color;
  text-decoration: none;
  display: block;
}
.place-title-card-hover {
  background-color: $place_title_color;
  color: $place_title_background;
  border-color: $place_title_color;
}
.place-map-render {
  width: 100%;
  height: 300px;
}
.card-footer {
  position: relative;
  font-size: 0;
  height: 52px;
}
.place-stars {
  position: relative;
  font-size: 1rem;
  vertical-align: top;
  text-align: center;
}
.card-stars {
  position: absolute;
  width: 80%;
  font-size: 1rem;
  top: 0;
  left: 0;
}
.place-stars-background {
  background-color: $place_stars_background;
  width: 100%;
  height: 52px;
}
.place-stars-points {
  background: $place_stars_points_background;
  overflow: hidden;
  height: 52px;
}
.place-stars-text {
  font-size: 1rem;
  font-weight: bold;
  color: $place_stars_text_color;
  position: absolute;
  top: 1em;
  width: 100%;
}
.place-comments {
  padding: 1em;
  background-color: $place_comments_background;
}
.card-comments {
  width: 20%;
  background-color: $place_card_comments_background;
  color: $place_card_comments_color;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  height: 52px;
}
.place-comments-number {
  font-weight: bold;
  font-size: 1.5em;
  color: $place-comments-number-color;
  margin: .5em;
}
.place-comments-user {
  border-radius: 10px 10px 0 0;
  position: relative;
  background-color: $place_comments_user_background;
  color: $place_comments_user_body_color;
  font-weight: bold;
  font-size: 1.5em;
  padding: .3em .8em;
  margin: 0;
}
.place-comments-user-name {
  display: inline-block;
  margin: 0;
}
.place-comments-date {
  font-size: .6em;
}
.place-comments-body {
  background-color: $place_comments_user_body;
  border-radius: 0 0 10px 10px;
  color: $place_comments_user_body_color;
  font-size: 1.2em;
  padding: .3em .8em;
  margin-top: 0;
  margin-bottom: 1.2em;
}
.comment-edit-box {
  padding: 0 0 10px 0;
}