.user-profile {
  background-color: $background_content;
}
.user-profile p {
  margin: 0;
  padding: 1em;
}
.edit-user {
  margin: 2em;
  background-color: $background_nav;
}
.user-profile p {
  color: $background_nav;
  font-weight: bold;
}
.user-label {
  font-size: 1.5em;
}
.user-data {
  font-size: 1.2em;
}
.user-link {
  margin: 1em;
  color: $background_nav;
  font-weight: bold;
  display: inline-block;
}