header_background = #a5382d
header_title = #b9b9b9

nav_background = #e85242
nav_link_background = #6e261e
nav_link = #ffffff

disclaimer_background = #333333
disclaimer_color = #F5F5F5

pagination_background = mediumseagreen
pagination_color = whitesmoke
pagination_border = whitesmoke
pagination_link_background = saddlebrown
pagination_link_background_active = brown
pagination_link_background_disabled = saddlebrown

place_background = mediumseagreen
place_title_background = saddlebrown
place_title_color = whitesmoke
place_stars_background = yellow
place_stars_points_background = green
place_stars_text_color = gray

place_comments_background = greenyellow
place_comments_user_background = sandybrown
place_comments_user_body = indianred

places_background = mediumseagreen
place_card_background = saddlebrown
place_card_color = whitesmoke
place_card_title_color = whitesmoke
place_card_footer_background = red
place_card_footer_color = gray
place_card_stars_background = yellow
place_card_stars_points_background = green
place_card_comments_background = greenyellow

form_background = mediumseagreen
form_input_border = greenyellow
button_background_color = black
button_color = pink

footer_background = mediumspringgreen