.forms
  padding 2em
  background form_background
form div
  margin-bottom .5em
label
  display block
  font-size 1em
  font-weight bold
  padding .5em 0
input
  border 1px solid form_input_border
  border-radius 5px
  height 2em
  width 100%
input[type='checkbox']
  border 1px solid form_input_border
  height 2em
  width 1.5em
.checkbox
  display inline-block
  vertical-align text-bottom
input[type='radio']
  display inline-block
  width 10%
.radio
  display inline-block
  vertical-align text-bottom

.actions ul
  font-size 0
  margin 0
  padding 0
  text-align right
  background-color inherit
  li
    display inline-block
.button
  background-color button_background_color
  border 0
  border-radius .5em
  color button_color
  display block
  font-size 1rem
  font-weight normal
  margin 5px
  padding 10px 30px
  text-align center
  text-decoration none
.button-rate
  vertical-align text-bottom
  margin-left 2em
  font-size 1rem
  display inline-block
.card-button
  font-size 1rem
  padding 5px 15px
textarea
  width 100%
  height 100px