.forms
  padding 2em
  background form_background
form div
  margin-bottom .5em
label
  display block
  font-size 1em
  font-weight bold
  padding .5em 0
input
  border 1px solid form_input_border
  border-radius 5px
  height 2em
  width 80%
input[type='checkbox']
  border 1px solid form_input_border
  height 2em
  width 1.5em
.checkbox
  display inline-block
  vertical-align text-bottom
input[type='radio']
  display inline-block
  width 10%
.radio
  display inline-block
  vertical-align text-bottom
button
  border-radius .5em
  background button_background_color
  color button_color
  padding .5em 2em
  font-size 1em
  font-weight bold
  border 0
.actions ul
  font-size 0
  margin 0
  padding 0
  text-align right
  background-color inherit
  li
    display inline-block
  a
    background-color button_background_color
    border-radius .5em
    color button_color
    display block
    font-size 1.5rem
    height 30px
    line-height 30px
    margin 5px
    padding 10px 30px
    text-align center
    text-decoration none
.actions button
  border-radius .5em
  background button_background_color
  color button_color
  margin 5px
  padding 10px 30px
  font-size 1.5rem
  font-weight normal
  border 0
.star-rate button
  vertical-align text-bottom
  margin-left 2em