form
  padding 2em
  background form_background

form div
  margin-bottom .5em
label
  display block
  font-size 1em
  font-weight bold
  padding .5em 0
input
  border 1px solid form_input_border
  border-radius 5px
  height 2em
  width 80%
input[type='checkbox']
  border 1px solid form_input_border
  height 2em
  width 1.5em
.checkbox
  display inline-block
  line-height 1.5em
button
  border-radius .5em
  background button_background_color
  color button_color
  padding .5em 2em
  font-size 1em
  font-weight bold