header_background = #a5382d
header_title = #b9b9b9

body
  font-size 16px

header
  background header_background
  color header_title
  font-size 2em
  height 150px
  line-height 75px
  overflow hidden
  text-align center