.home
  font-size 0
  background-color background_content
.home-help
  background-color home_help_background
  display inline-block
  vertical-align top
  width 58%
  font-size 2rem
  padding 1%
  color home_help_color
.home-places
  display inline-block
  width 40%
  font-size 1rem