nav_background = #e85242
nav_link_background = #6e261e
nav_link = #ffffff

nav ul
  font-size 0
  margin 0
  padding 0
  background-color nav_background
  text-align right
  li
    display inline-block
  a
    background-color nav_link_background
    border-radius 5px
    color nav_link
    display block
    font-size 1.5rem
    height 30px
    line-height 30px
    margin 5px
    text-align center
    text-decoration none
    width 120px