.navigation
  font-size 0
  margin 0
  padding 0
  background-color nav_background
  text-align right
  li
    display inline-block
  a
    background-color nav_link_background
    color nav_link
    display block
    font-size 1.5rem
    height 30px
    line-height 30px
    margin-left 10px
    padding 10px 30px
    text-align center
    text-decoration none
    &:hover
      background-color nav_link
      color nav_link_background
@media screen and (max-width 750px)
  .navigation li
    width 100%
  .navigation a
    margin-left 0
    margin-bottom 1px