nav ul
  font-size 0
  margin 0
  padding 0
  background-color nav_background
  text-align right
  li
    display inline-block
  a
    background-color nav_link_background
    color nav_link
    border-radius .5em
    display block
    font-size 1.5rem
    height 30px
    line-height 30px
    margin 5px
    padding 10px 30px
    text-align center
    text-decoration none