ul
  text-align center
  background pagination_background
  padding 10px
  margin 0
.pagination li
  list-style none
  display inline-block
  margin 0 .3em
  &.active, &.disabled, a
    width 3em
    padding .1em
    color pagination_color
    text-decoration none
    border 1px solid pagination_border
    border-radius .2em
  a
    display block
    background pagination_link_background
  &.active
    display inline-block
    background pagination_link_background_active
  &.disabled
    background pagination_link_background_disabled
    &:nth-child(1), &:nth-last-child(1)
      display none