.place
  padding 1em
  background-color mediumseagreen
.place-title
  background-color saddlebrown
  padding .3em
  color whitesmoke
.place-map
  width 100%
  height 200px
.place-stars
  position relative
  font-size 1rem
  vertical-align top
.place-stars-background
  background-color yellow
  width 100%
.place-stars-points
  background green
  overflow hidden
.place-stars-text
  font-size 1rem
  font-weight bold
  color gray
  position absolute
  top 1em
  left 50%
.place-stars
  text-align center
  background-color yellow
  font-size 1rem
  vertical-align top
.place-stars-points
  background green
  overflow hidden
.place-comments
  padding 1em
  background-color greenyellow
.place-comments-number
  font-weight bold
.place-comments-user
  background-color sandybrown
  padding 1em
  margin 0
.place-comments-body
  background-color indianred
  padding 2em
  margin-top 0
  margin-bottom .5em

.places
  text-align center
  background-color mediumseagreen
.place-card
  background-color saddlebrown
  color whitesmoke
  margin 1em
  width 15em
  padding .1em 0
  height 15em
  display inline-block
  vertical-align top
  position relative
  overflow hidden
  h2
    margin 0

.place-card-title
  padding .3em
.place-card-title a
  color whitesmoke
  text-decoration none
.place-card-map
  width 15em
  height 100%
.place-card-footer
  background-color red
  position absolute
  bottom 0
  width 100%
  padding 0
  color gray
  font-weight bold
  font-size 0
.place-card-stars
  position relative
  width 80%
  display inline-block
  font-size 1rem
  vertical-align top
.place-card-stars-background
  background-color yellow
  width 100%
.place-card-stars-points
  background green
  overflow hidden
.place-card-stars-text
  font-size 1rem
  position absolute
  top 1em
  left 50%
.place-card-comments
  width 20%
  background-color greenyellow
  font-size 1rem
  display inline-block