.places
  text-align center
  background-color mediumseagreen

.place-card
  background-color saddlebrown
  color whitesmoke
  margin 1em
  width 15em
  padding .1em 0
  height 15em
  display inline-block
  vertical-align top
  position relative
  overflow hidden
  h2
    margin 0

.place-title
  padding .3em
.place-map
  width 15em
  height 100%
.place-footer
  background-color red
  position absolute
  bottom 0
  width 100%
  padding 0
  color gray
  font-weight bold
  font-size 0
.place-stars
  width 80%
  background-color yellow
  font-size 1rem
  display inline-block

.place-comments
  width 20%
  background-color greenyellow
  font-size 1rem
  display inline-block